# ---- Python/Django
*.py[cod]
__pycache__/
*.sqlite3
/media/
*.log

# Virtualenvs (cubre nombres típicos)
env/
.venv/
venv/
*/env/
*/.venv/

# Django collectstatic (si usas STATIC_ROOT)
# Descoméntalo si NO quieres versionar los estáticos compilados
# /static/

# ---- Node/Vite (frontend)
node_modules/
dist/
frontend/node_modules/
frontend/dist/
frontend/.env

# ---- OS/Edición
.DS_Store
Thumbs.db
.vscode/
.idea/

.env